.task-bold-border {
    color: #376d52;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.input-bold-border {
    color: #3d6287;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.sim-exp-bold-border {
    color: gray;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    padding: 2px 5px;
}

.descriptor-bold-border {
    color: #843d3d;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.data-set-size-bold-border {
    color: #71823d;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.seed-bold-border {
    color: darkgray;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.library-bold-border {
    color: #553d84;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.task-bold {
    color: #376d52;
    font-weight: bold;
}

.input-bold {
    color: #3d6287;
    font-weight: bold;
}

.sim-exp-bold {
    color: gray;
    font-weight: bold;
}

.descriptor-bold {
    color: #843d3d;
    font-weight: bold;
}

.data-set-size-bold {
    color: #71823d;
    font-weight: bold;
}

.seed-bold {
    color: darkgray;
    font-weight: bold;
}

.library-bold {
    color: #553d84;
    font-weight: bold;
}

.task-border {
    color: #376d52;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.input-border {
    color: #3d6287;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.sim-exp-border {
    color: gray;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    padding: 2px 5px;
}

.descriptor-border {
    color: #843d3d;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.data-set-size-border {
    color: #71823d;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.seed-border {
    color: darkgray;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.library-border {
    color: #553d84;
    white-space: nowrap;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e1e4e5;
    font-size: 75%;
    padding: 0 5px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
}

.task {
    color: #376d52;
}

.input {
    color: #3d6287;
}

.sim-exp {
    color: gray;
}

.descriptor {
    color: #843d3d;
}

.data-set-size {
    color: #71823d;
}

.seed {
    color: darkgray;
}

.library {
    color: #553d84;
}
